# Core ML/DL Libraries
torch
torchvision
torchaudio
torchview
pytorch-msssim

# Data Handling & Scientific Computing
numpy
pandas
scipy
xarray
scikit-image

# Visualization & Plotting
matplotlib
pygmt
cartopy

# Experiment Tracking
swanlab

# Utilities
tqdm
